<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <title>Meal Planning</title>
    </head>
    <body>
        <!-- HEADER --> 

        <!-- NAVBAR -->
        <ul class="w3-bar w3-teal">
            <a class="w3-bar-item w3-button" href="/Schedule">Schedule</a></li>
            <a class="w3-bar-item w3-button" href="/">Recipies</a></li>
            <a class="w3-bar-item w3-button" href="/">Ingredients</a></li>
        </ul>

        <!-- BELOW NAVBAR -->
        <div class="w3-container">
            {% block content %}{% endblock %}
        </div>

        <!-- FOOTER -->
    </body>
</html>