{% extends "base.html" %}
{% block content %}
    {% for week in schedule %}
    <div class="w3-center week">
        <h2>Week of {{ week.date }}</h2>
        <div class="row">
            {% for day in week.days %}
            <div class="w3-col m2 w3-card-2 day">
                <header><h3>{{ day.date }}</h3></header>
                {% if day['lunch'] %}
                <div class="w3-container">
                    <h4>Lunch</h4>
                    <p>{{ day.lunch.name }}</p>
                </div>
                {% endif %}
                {% if day.dinner %}
                <div class="w3-container">
                    <h4>Dinner</h4>
                    <p>{{ day.dinner.name }}</p>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock content %}
